html{
    background: radial-gradient(circle, #fff, #ccc);
    height: 100%;
}

#container{
    height: 500px;;
    width: 800px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    -o-box-shadow: 0px 4px 0px 0px #009de4;
    -ms-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}
#score{
    background-color: #F1FF92;
    padding: 10px;
    position: absolute;
    left: 750px;
    box-shadow: 0px 4px 0px 0px #9da853;
    -moz-box-shadow: 0px 4px 0px 0px #9da853;
}

#correct{
    position: absolute;
    left: 250px;
    background-color: #42e252;
    padding: 11px;
    color: white;
    display: none;
}

#wrong{
    position: absolute;
    left: 100px;
    background-color: #de401a;
    padding: 11px;
    color: white;
    display: none;
}

#fruitcontainer{
    height: 350px;
    width: 700px;
    background-color: white;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0 4px #8153a8;
    text-align: center;
    font-size: 100px;
    font-family: cursive, sans-serif;
    color: black;
    position: relative;
    overflow: hidden;
}

.fruit{
    display: none;
    position: relative;
}

#introdution{
    width: 500px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0 4px #8153a8;
    -moz-box-shadow: 0 4px #8153a8;
}

#startreset{
    width: 80px;
    height: 22px;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#startreset:active{
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#trialleft {
    width: 80px;
    background-color: white;
    padding: 10px;
    position: absolute;
/*    visibility: hidden;*/
    display: none;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}

.life {
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}

#gameOver{
    width: 500px;
    height: 225px;
/*    background-color: linear-gradient(#F3CA6B, #F3706C);*/
    background-color: darkorange;
    text-align: center;
    font-size: 2.5em;
    position: absolute;
    text-transform: uppercase;
    color: white;
    top: 100px;
    left: 170px;
    z-index: 2;
    display: none;
}



